.button {
  cursor: pointer;
  font: inherit;

  
  border: none;
  background-color: #d8c3bb;
  color: rgb(0, 0, 0);
  padding: 0.50rem 1.25rem;
  display: flex;

  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 1rem;
  margin-bottom: .2rem;
}
